<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ejercicio para Candidatos Resuelve</title>
    <style media="screen">
      html, body {
        height: 100%;
      }

      body {
        margin: 0;
        padding: 0;
        background: #1C3154;
        font: 16px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      article {
        background-color: white;
        margin: 0;
        padding: 2em;
        width: 100%;
        max-width: 20em;
        border-radius: 0.2em;
      }

      h1 {
        margin: 0 0 0.5em;
      }

      a {
        color: #1C3154;
        font-weight: bold;
      }

      a:hover {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <article>
      <h1>Ejercicio para Candidatos</h1>

      <p>Hola! Seguro llegaste aquí porque estás aplicando a algún puesto de Ingeniería en Resuelve. Éste es el server correcto, sólo falta que mandes llamar el endpoint adecuado.</p>

      <p>Sigue las instrucciones que te mandamos para poder resolver el ejercicio. Cualquier duda, la puedes dirigir a <a href="mailto:reclutamiento@resuelve.mx">reclutamiento@resuelve.mx</a></p>
    </article>
  </body>
</html>
